[advice]
	statusHints = false
[alias]
	one = show -s --pretty='format:%h (%s)'
	recursive-update = "!sh -c 'find \"${@-.}\" -type d -name .git -exec dirname {} \\; -exec git --git-dir={} remote update \\;' recursive-update"
	ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
	rlog = !sh -c 'git log --color \"$@\"|fmt -s -w 79|less -FRSX' git-rlog
	summary = log --abbrev-commit --pretty=oneline --author=\"Peter Rowlands\" --since=last.mon --reverse
	trust = "mkdir -p .git/safe"
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[branch]
	autosetupmerge = always
	autosetuprebase = always
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[github]
	user = pmrowla
[init]
	defaultBranch = main
    templatedir = ~/.git_template
[interactive]
	singlekey = true
[merge]
	summary = true
[pull]
	rebase = true
[push]
    #default = simple
[rebase]
	autosquash = true
[user]
	name = Peter Rowlands
    email = peter@pmrowla.com

[include]
    path=~/.gitconfig.local
[push]
	default = simple
